{
  "presets": [
    ["env", {
    "targets": {
      "browsers": ["last 2 versions", "safari >= 7"],
      "node": "8.9.3"
    }
  }], "react"],
  "plugins": [
    "transform-class-properties", //解析类属性，静态和实例的属性
    "syntax-dynamic-import"//不解析动态加载标识符 import() node环境无作用，得另想办法
  ],
  "env": {
    //这个配置只针对服务端的客户端代码
    "node": {
      "plugins": [[
        "babel-plugin-transform-require-ignore",
        {
          "extensions": [".less", ".sass"]
        }
      ], "dynamic-import-node"]
    }
  }
}
