<html>
<head>
    <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,initial-scale=1" />
    <title>{{title}}</title>
    <style>
        a{
            text-decoration: none;
        }
    </style>
</head>
<body>
<nav style="text-align: center;padding: 20px 10px">
    <a href="/p/components">
        组件示例（不包含redux）
    </a>
    <a href="/p/integration">
        集成redux示例
    </a>
</nav>
</body>
</html>