<html>
    <head>
        <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,initial-scale=1" />
        <title>端</title>
    </head>
    <body>
        <div id='layout'>{{{app}}}</div>
        <script src='http://127.0.0.1:8888/index.js'></script>
    </body>
</html>